{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block menu %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('signup') }}">Register</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} d-flex flex-col align-items-center" role="alert">
          <p class="my-auto">{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="container mt-5 d-flex justify-content-center align-items-center text-center">
    <form action="{{ url_for('login') }}" method="POST">
      <h3 class="font-weight-bold mb-3">Let's Login!</h3>
      <input type="email" class="form-control my-3" name="email" placeholder="Email">
      <input type="password" class="form-control my-3" name="password" placeholder="Password">
      <button class="btn btn-md btn-primary btn-block" type="submit">Sign In</button>
    </form>
  </div>
{% endblock %}
